@import 'bulma.css';

.tile {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 6px;
    background: #eee4da;
    margin: 5px;
}

.board {
    width: 450px;
    height: 450px;
    box-sizing: border-box;
    border-radius: 12px;
    background: #bbada0;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
